:root {
    --Btv-dark-primary: #388E3C;
    --Btv-light-primary: #C8E6C9;
    --Btv-primary: #4CAF50;
    --Btv-primary-text: #212121;
    --BTV-secondary-text: #757575;
    --BTV-icon-text: #FFFFFF;
    --BTV-accent-color: #8BC34A;
    --BTV-divider: #BDBDBD;
}


/*CSS reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Inter', sans-serif;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}


/* Início */

body {
    display: flex;
    flex-direction: column;
}

/* Acima do Header */

.aboveHeader {
    display: flex;
    width: calc(100%-256px);
    padding: 8px 128px;
    background-color: var(--Btv-light-primary);
    justify-content: space-between;
}

.menuRedesSociais {
    
    list-style-type: none;

}

.botaoRedesSociais {
    display: inline;
    margin-right: 8px;
    
}

.botaoRedesSociais__logo {
    width: 16px;
    height: 16px;
}

/* Header */

.header {
    background-color: var(--BTV-icon-text);
    width: calc(100%-256px);
    padding: 8px 128px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menuPrincipal {
    list-style-type: none;
    margin: auto auto;
}

.menuPrincipal__item {
    display: inline;
    margin-right: 8px;
}

.menuPrincipal__item__botao {
    font-size: 1.5em;
    padding: 8px;

}

.menuPrincipal__item__botao:hover {
    font-weight: bold;
    cursor: pointer;

}

.menuPrincipal__item__botao--doar {
    background-color: var(--BTV-accent-color);
    color: var(--BTV-icon-text);
    border-radius: 8px;

}

/* Home */

.homePage {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.homePhoto {
    width:100%;

}

.intro {
    display: flex;
    width: calc(100%-256px);
    margin: 0 128px;
}

.intro__card {
    padding: 16px;
    min-height: 288px;

}



.intro__card__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 8px;
}

.intro__card__text {
    margin-bottom: 8px;
    font-size: 1.2em;
    line-height: 1.2em;
}

.intro__card__link {
    color: var(--Btv-dark-primary);
}

.intro__card__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.missao {
    background-color: var(--Btv-dark-primary);
    text-align: center;
    padding: 32px 0;
}

.missao__title {
    color: var(--BTV-icon-text);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 8px;
}

.missao__text {
    color: var(--BTV-icon-text);
    font-size: 1.2em;

}

.patrocinadores {
    padding: 16px 0;

}

.patrocinadores__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;

}

.patrocinadores__list {
    display: flex;
    justify-content: center;
    padding: 8px 128px;

}

.patrocinadores__list__logo {
    margin: 0 16px;

}

.homeSonho {
    background-color: var(--Btv-dark-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 128px;
}

.homeSonho__item {
    width: 486px;
    padding: 16px 0;
}



.homeSonho__item__sonho__title {
    font-size: 1.2em;
    text-align: center;
    color: var(--BTV-icon-text);
    margin-bottom: 8px;

}

.homeSonho__item__sonho__text {
    font-size: 1.2em;
    line-height: 1.3em;
    color: var(--BTV-icon-text);
}

.homeSonho__item__doar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.doarButton {
    width: 200px;
    background-color: var(--BTV-accent-color);
    padding:16px;
    border-radius: 8px;
}

.doarButton:hover {
    cursor: pointer;
}

.doarButton__text {
    font-weight: bold;
    font-size: 1.6em;
    color: var(--BTV-icon-text);
    text-align: center;
}

.novidades {
    padding:16px 128px;

}

.novidades__title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 1.4em;
}

.novidades__list {
    display: flex;
    justify-content: space-between;
}

.instagram__novidades {
   
}

.localizacao {
    padding: 16px 128px;

}

.localizacao__title {
    text-align: center;
    font-size: 1.4em;

}

.localizacao__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.localizacao__item {
    width: 383px;
    margin: 0 16px;
}

.localizacao__mapa {
    width: 100%;
}

.localizacao__item__endereco {
    text-align: center;
}

.localizacao__item__photo {
    width:100%;
}


/* Quem Somos */

.quemSomos__main {
    background-color: var(--Btv-light-primary);
    padding: 16px 128px;
}

.quemSomos__item {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.quemSomos__photo {
    max-width: 586px;
}

.quemSomos__article {
    max-width: 586px;

}

.quemSomos__title {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.quemSomos__text {
    font-size: 1.2em;
    line-height: 1.3em;
}

.missao--quemSomos {
    background-color: var(--BTV-icon-text);
    text-align: center;
    padding: 32px 0;
}

.missao__title--quemSomos {
    color: var(--Btv-primary-text);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 8px;
}

.missao__text--quemSomos {
    color: var(--Btv-primary-text);
    font-size: 1.2em;

}


/* Transparência */

.transparencia__main {
    background-color: var(--Btv-light-primary);
    padding: 16px 128px;
    min-height: 600px;
}

.transparencia__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.transparencia__list {
    display: flex;
    justify-content: space-between;
}

.transparencia__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparencia__list__item__title {
    margin-bottom: 16px;


}


/* Doar */

.doar__main {
    background-color: var(--Btv-light-primary);
}

.socio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;

}

.socio__item {
    width: 586px;
}

.socio__item__photo {
    width: 100%;
}

.socio__item__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.socio__item__text {
    font-size: 1.2em;
    line-height: 1.3em;
}

.meioDoacao {
    display: flex;
    padding: 8px 128px;
    justify-content: center;
}

.meioDoacao__card {
    background-color: var(--BTV-divider);
    border-radius: 8px;
    width: 304px;
    height: 368px;
    margin: 0 16px;
}

.meioDoacao__card__logo {
    height: 50%;
    display: flex;
    align-items: center;
}

.meioDoacao__card__info {
    background-color: var(--BTV-icon-text);
    height: 50%;
    box-sizing: border-box;
    padding: 16px 0;
}

.meioDoacao__card__image {
    width: 100%;
}

.meioDoacao__card__title {
    text-align: center;
    margin-bottom: 8px;

}

.meioDoacao__card__text {
    text-align: center;

}

.lema {
    background-color: var(--BTV-icon-text);
    padding: 36px 8px;

}

.lema__text {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

/* Footer */ 

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--Btv-dark-primary);
}

.footer > * {
    margin: 8px 0;
}

.footer :first-child {
    margin-top: 16px;
}


.botaoRedesSociais__logo--footer {
    color: var(--BTV-icon-text);
    width: 32px;
    height: 32px;
}

.menuFooter {
    text-align: center;
}

.menuFooter__link {
    margin:8px;
    color: var(--BTV-icon-text);
}

.menuFooter__link__text:hover {
    text-decoration: underline;
    cursor: pointer;

}

.copyright {
    display: block;
    color: var(--BTV-icon-text);
    margin-bottom: 16px;
}

h1 {
    color: var(--Btv-dark-primary);
}