{% load static%}

<div class="aboveHeader">
    <span>Fale conosco: +55 12 xxxxx-xxxx</span>
    <nav>
        <ul class="menuRedesSociais">
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo" src="{% static 'btv/icons/at.svg' %}"> <span>Email</span></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo" src="{% static 'btv/icons/facebook.svg' %}"> <span>Facebook</span></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo" src="{% static 'btv/icons/instagram.svg' %}"> <span>Instagram</span></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo" src="{% static 'btv/icons/whatsapp.svg' %}"> <span>Whatsapp</span></a></li>
        </ul>
    </nav>
</div>