{% load static%}

<div class="footer-basic">
    <footer class="footer navbar-fixed-bottom">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="bi bi-envelope"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/home">Home</a></li>
            <li class="list-inline-item"><a href="/quem_somos">Quem Somos</a></li>
            <li class="list-inline-item"><a href="/#localizacao">Localização</a></li>
            <li class="list-inline-item"><a href="/transparencia">Transparência</a></li>
            <li class="list-inline-item"><a href="/doar">Doar</a></li>
            <li class="list-inline-item"><a href="/administrativa">Área Administrativa</a></li>
        </ul>
        <p class="copyright">Copyright © 2022 - Bem te vi</p>
    </footer>
</div>
