{% load static%}

<footer class="footer">
    <nav>
        <ul class="menuRedesSociais">
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo botaoRedesSociais__logo--footer" src="{% static 'btv/icons/at.svg' %}"></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo botaoRedesSociais__logo--footer" src="{% static 'btv/icons/facebook.svg' %}"></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo botaoRedesSociais__logo--footer" src="{% static 'btv/icons/instagram.svg' %}"></a></li>
            <li class="botaoRedesSociais"><a><img class="botaoRedesSociais__logo botaoRedesSociais__logo--footer" src="{% static 'btv/icons/whatsapp.svg' %}"></a></li>
        </ul>
    </nav>
    <nav>
        <ul class="menuFooter">
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/home">Home</a></li>
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/quem_somos">Quem Somos</a></li>
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/localizacao">Localização</a></li>
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/transparencia">Transparência</a></li>
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/doar">Doar</a></li>
            <li class="menuFooter__link"><a class="menuFooter__link__text" href="/administrativa">Área Administrativa</a></li>
        </ul>
    </nav>
    <p class="copyright">2022 - Bem te vi</p>

</footer>