{% load static %}
<header class="header">
    <img class="logo" src="{% static 'btv/images/logo.jpg' %}">
    <nav>
        <ul class="menuPrincipal">
            <li class="menuPrincipal__item"><a class="menuPrincipal__item__botao" href="/home">Home</a></li>
            <li class="menuPrincipal__item"><a class="menuPrincipal__item__botao" href="/quem_somos">Quem Somos</a></li>
            <li class="menuPrincipal__item"><a class="menuPrincipal__item__botao" href="/#localizacao">Localização</a></li>
            <li class="menuPrincipal__item"><a class="menuPrincipal__item__botao" href="/transparencia">Transparência</a></li>
            <li class="menuPrincipal__item"><a class="menuPrincipal__item__botao menuPrincipal__item__botao--doar" href="/doar">DOAR</a></li>
        </ul>
    </nav>
</header>