{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="homePage">
    <img class="homePhoto" src="{% static 'btv/images/home_photo.jpg' %}">
    <section class="intro">
        <section class="intro__card">
            <h2 class="intro__card__title">Quem Somos?</h2>
            <p class="intro__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget dolor morbi non arcu risus quis varius. Et odio pellentesque diam volutpat commodo sed egestas egestas. Dictumst quisque sagittis purus sit amet. Ipsum suspendisse ultrices gravida dictum. Vitae tempus quam pellentesque nec. In nulla posuere sollicitudin aliquam ultrices sagittis. Tristique et egestas quis ipsum suspendisse ultrices gravida.</p>
            <a class="intro__card__link" href="/quem_somos">leia mais >></a>
        </section>
        <section class="intro__card">
            <h2 class="intro__card__title">Nossa História</h2>
            <p class="intro__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget dolor morbi non arcu risus quis varius. Et odio pellentesque diam volutpat commodo sed egestas egestas. Dictumst quisque sagittis purus sit amet. Ipsum suspendisse ultrices gravida dictum. Vitae tempus quam pellentesque nec. In nulla posuere sollicitudin aliquam ultrices sagittis. Tristique et egestas quis ipsum suspendisse ultrices gravida.</p>
            <a class="intro__card__link" href="/quem_somos">leia mais >></a>
        </section>
        <section class="intro__card">
            <h2 class="intro__card__title">Nosso Trabalho</h2>
            <p class="intro__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget dolor morbi non arcu risus quis varius. Et odio pellentesque diam volutpat commodo sed egestas egestas. Dictumst quisque sagittis purus sit amet. Ipsum suspendisse ultrices gravida dictum. Vitae tempus quam pellentesque nec. In nulla posuere sollicitudin aliquam ultrices sagittis. Tristique et egestas quis ipsum suspendisse ultrices gravida.</p>
            <a class="intro__card__link" href="/quem_somos">leia mais >></a>
        </section>
    </section>
    <section class="missao">
        <h2 class="missao__title">Nossa Missão</h2>
        <p class="missao__text">Lorem ipsum dolor sit amet</p>
    </section>
    <section class="patrocinadores">
        <h2 class="patrocinadores__title">Patrocinadores</h2>
        <section class="patrocinadores__list">
            <img class="patrocinadores__list__logo" src="{% static 'btv/images/logo_patrocinador1.png' %}">
            <img class="patrocinadores__list__logo" src="{% static 'btv/images/logo_patrocinador2.png' %}">
            <img class="patrocinadores__list__logo" src="{% static 'btv/images/logo_patrocinador3.png' %}">
            <img class="patrocinadores__list__logo" src="{% static 'btv/images/logo_patrocinador4.png' %}">
        </section>

    </section>
    <section class="homeSonho">
        <section class="homeSonho__item">
            <h2 class="homeSonho__item__sonho__title">Nosso sonho</h2>
            <p class="homeSonho__item__sonho__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus turpis massa tincidunt dui. Tortor consequat id porta nibh. Lobortis scelerisque fermentum dui faucibus in ornare. Erat pellentesque adipiscing commodo elit at imperdiet. Sit amet venenatis urna cursus. Platea dictumst vestibulum rhoncus est pellentesque elit. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Congue eu consequat ac felis donec et odio. Rhoncus mattis rhoncus urna neque. Et netus et malesuada fames ac turpis.</p>

        </section>
        <section class="homeSonho__item homeSonho__item__doar">
            <a class="doarLink" href="/doar"><div class="doarButton"><h3 class="doarButton__text">Doar</h3></div></a>
        </section>
    </section>
    <section class="localizacao">
        <h2 class="localizacao__title" id="localizacao">Nossa Localização</h2>
        <section class="localizacao__list">
            <section class="localizacao__item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.371408448521!2d-45.89136088449626!3d-23.193131484866946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a14afc7e531%3A0xbf7884c8622397d4!2sR.%20Paulo%20Set%C3%BAbal%2C%20263%20-%20Jardim%20Sao%20Dimas%2C%20S%C3%A3o%20Jos%C3%A9%20dos%20Campos%20-%20SP%2C%2012245-460!5e0!3m2!1spt-PT!2sbr!4v1655501611272!5m2!1spt-PT!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section class="localizacao__item">
                <address class="localizacao__item__endereco">
                    Rua Paulo Setúbal <br>
                    Jardim São Dimas, São José dos Campos - SP <br>
                    CEP: 12245-460
                </address>
            </section>
            <section class="localizacao__item">
                <img class="localizacao__item__photo" src="{% static 'btv/images/localizacao_btv.jpg' %}">
            </section>
        </section>
        

    </section>
</main>
    
    
{% endblock%}