{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <main class="row quemsomos"> 
        <aside class="col-md-4">
            <h1>Quem somos</h1>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi culpa provident dolorum excepturi fuga tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, odit?</p>
            </div> 
            <!-- MISSAO,VISAO,VALORES -->
            <div class="text-center my-5">
                <h1><i class="bi bi-bullseye ico_pilares"></i></h1>
                <h4>Missão</h4>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, accusamus!</p>
            </div> 
            <div class="text-center my-5">
                <h1><i class="bi bi-binoculars ico_pilares"></i></h1>
                <h4>Visão</h4>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, accusamus!</p>
            </div> 

            <div class="text-center my-5">
                <h1><i class="bi bi-star ico_pilares"></i></h1>
                <h4>Valores</h4>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, accusamus!</p>
            </div> 

        </aside>

        <!-- CARDS -->
        <div class="col-md-8 text-center quem_somos">
            <div class="row">                        
                <div class="col-md-6 card_claro py-5">
                    <div class="card_imagem">
                        <img src="./imagens/time_ariana.jpg" alt="nossa historia" class="imagem w-50 img-fluid">
                    </div>
                    <div class="card_descricao">
                        <h3>Nossa história</h3>                        
                    </div>
                </div>

                <div class="col-md-6 card_escuro py-5">
                    <div class="card_imagem">
                    </div>
                    <div class="card_descricao">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore voluptates, modi quo eius odit expedita hic, a natus dolores soluta at optio, quaerat fugit sed. Eveniet provident aut quisquam nam doloremque accusantium sunt tenetur iste id minus non, cum, delectus itaque, enim sed distinctio numquam perspiciatis! Possimus repellendus distinctio et? Eum, architecto culpa harum tempora ipsam vero sunt, perspiciatis quos reprehenderit impedit velit mollitia doloribus blanditiis! Aliquam ratione fugit ipsa maiores voluptates vitae eum facilis nesciunt, quos molestiae voluptatibus dolor corporis praesentium doloribus consectetur dicta natus nobis ab alias, eos animi necessitatibus nostrum ullam officia! Asperiores suscipit ratione assumenda tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dignissimos ullam porro quo officia nesciunt neque quisquam inventore eveniet laudantium.</p>
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-md-6 card_escuro py-5">
                    <div class="card_imagem">
                    </div>
                    <div class="card_descricao">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi aperiam facere magni nam fugiat dicta nemo consequuntur repellendus, alias odit ab molestiae possimus ea. Voluptas hic, tempora magnam a et id tempore atque consectetur, cupiditate nam temporibus quam animi aperiam ipsum dolore! Architecto libero temporibus modi iusto tenetur ea iure doloribus eius mollitia ex, sunt illum, laborum voluptate perspiciatis deserunt? Soluta minima tenetur explicabo similique eveniet accusamus maiores quasi odit! Eius perspiciatis molestiae itaque quisquam enim, neque quidem sint accusamus vero libero ut maiores, corporis porro voluptatem inventore voluptatum fugit dolorem corrupti, consequatur consectetur reprehenderit accusantium. Dignissimos, deserunt laboriosam! Tempora?Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dignissimos ullam porro quo officia nesciunt neque quisquam inventore eveniet laudantium.</p>
                    </div>
                </div>

                <div class="col-md-6 card_claro py-5">
                    <div class="card_imagem">
                        <img src="./imagens/time_sid.jpg" alt="nosso trabalho" class="imagem w-50 img-fluid">
                    </div>
                    <div class="card_descricao">
                        <h3>Nosso trabalho</h3>
                    </div>
                </div>
        </div>
       
    </main>
</div>






{% endblock %}