{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="transparencia__main">
    <h2 class="transparencia__title">Transparência</h2>
    <section class="transparencia__list">
        <section class="transparencia__list__item">
            <h3 class="transparencia__list__item__title">FUNDHAS</h3>
            <ul>
                <li><a href="#">Estatuto Social</a></li>
                <li><a href="#">Estatuto Social</a></li>
            </ul>
        </section>
        <section class="transparencia__list__item">
            <h3 class="transparencia__list__item__title">SASC</h3>
            <ul>
                <li><a href="#">Estatuto Social</a></li>
                <li><a href="#">Estatuto Social</a></li>
            </ul>
        </section>
    </section>
</section>
{% endblock %}