{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="transparencia__main">
    <h2 class="transparencia__title">Transparência</h2>
    <section class="transparencia__list">
        {% if not doadores %}
        <h3>Não há documentos para mostrar</h3>
        {% else %}
            {% for doador in doadores %}
            <section class="transparencia__list__item">
                <h3 class="transparencia__list__item__title">{{doador.nome}}</h3>
                <ul>
                    {% for documento in documentos %}
                        {% if documento.doador == doador %}
                            <li><a href="{{ documento.pdf.url}}" target="_blank" class="transparencia__link"> {{documento.titulo}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul> 
            </section>
            {% endfor %}
        {% endif%}
    </section>
</section>
{% endblock %}